<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/']">
      <ion-icon name="home-outline" />
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tasks" [routerLink]="['/tasks']">
      <ion-icon name="list-outline" />
      <ion-label>Tasks</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="api-demo" [routerLink]="['/api-demo']">
      <ion-icon name="cloud-outline" />
      <ion-label>API Demo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="camera" [routerLink]="['/camera']">
      <ion-icon name="camera-outline" />
      <ion-label>Camera</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="files" [routerLink]="['/files']">
      <ion-icon name="folder-outline" />
      <ion-label>Files</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dashboard" [routerLink]="['/dashboard']">
      <ion-icon name="person-outline" />
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
